<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
  </system.web>
<system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>
  </system.webServer>
  <appSettings>
  <add key="com.programprehrane.www.WebService" value="http://www.programprehrane.com/administration/WebService.asmx"/>
  </appSettings>
</configuration>